img {
    width: auto;
    height: 300px;
}

*{
  background-image: url(./img/breakfast-is-a-must.gif);
}

* {
  color:white;
  text-align: center;
}

li {
  color: greenyellow
}

.food {
  color: #ff0;
  animation: rainbow 1s linear infinite;
}
@keyframes rainbow {
  0%, 100% {
    color: violet;
  }
  15% {
    color: red;
  }
  30% {
    color: orange;
  }
  45%{
    color:greenyellow;
  }
  60% {
    color:yellowgreen;
  }
  75% {
    color: blue;
  }
  90% {
    color: blueviolet;
  }
}


/* 01-css-methods */
  div.tacos {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-style: bold;
  }
/* 01-css-methods */